.main {
    scroll-behavior: smooth;
  }


:root{

    /* --bordercolor1:rgb(241, 177, 177);
    --bordercolor2:rgb(209, 203, 203);
    --bordercolor3:rgb(224, 178, 245);
    --bordercolor4:rgb(165, 221, 165);
    --bordercolor5:rgb(255, 255, 186);
    --bordercolor6:rgb(255, 166, 166);  */



    --bg-searchtheme1:#fce8fc;
    --bg-searchtheme2:#893eeb;
    --bg-searchtheme3:#fcbf19;
    --bg-fav-sticker:red;
    --bg-backbutton:orange;
     

    --bg-1:#2f1452;


}


*{
    color: rgb(250, 253, 255);
    box-sizing: border-box;
    /*font-family: sans-serif;*/
    
}

#tumbnailtest{
    background-size: cover;
}


body{
    background-color: rgb(252, 246, 246);
    min-height: 100vh;
}

/*----------------- Nav ----------- */

#nav{
    width:100%;
    min-height:10vh;
    max-height: 100px;
    border:1px solid var(--bordercolor1);
    /* background-image:linear-gradient(135deg, rgb(0, 0, 0),rgb(97, 85, 85)); */
    background-color: black;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top:0px;
    z-index: 2;
    /* overflow: hidden; */
  

}
#app-name{
    
    width:40%;
    color:aliceblue;
    border:1px solid var(--bordercolor5);
    flex-grow: 0;
    display: flex;
    margin-left: 15px;
    overflow: hidden;
    
}

#app-name>img{
    width: auto;
    height: auto;
    flex-grow: 0;
    transform: scale(1.5) translateY(5px);
}


#api-progress{
   min-width:50px;
    height:50px;
    padding: 10px;
    color:white;
    background: transparent;
   /* border:1px solid white; */
    position:absolute;
    right:5px;
    top:5px;
}

/* -- Navbar -- */

#nav-bottom{
    width:60%;
   
    display: flex;
    flex-wrap: wrap;
    border:1px solid var(--bordercolor4);
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: flex-end;
    align-content: baseline;
}
#search-bar{
    width:60%;
    max-width: 400px;
    height:38px;
    border:1px solid var(--bordercolor6);
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
   
}

#search-bar>input{
    height:98%;
}

#search-results{
    /* min-height:30px;
    height: auto;
    width:100%;
    background-color: #fce8fc;
    position:absolute;
    top:50px; */

    /* transform: translateY(-10px); */
}


#search-results>ul>li>p{
    color: black;
}

#favourite-list{
    min-width:90px;
    min-height:30px;
    border:1px solid var(--bordercolor6);
   
}

.fav-list{
  
    width:50vw;
    min-height: 0;
    
}

.fav-list>li{
    
    display: flex;
    padding: 5px 5px;
    
}

.fav-list>li>a{
  display: flex;
  align-items: center;
}
.fav-list>li>a:hover{
    background-color: #aca7a7;
}

.fav-list>li>a>span{
    color: black;

}


.fav-list>li>.delete{
    width:50px;
    height:50px;
    color: black;
    
    background-image: url(Images/removeOff.svg);
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    background-color: rgb(231, 231, 231);
    border-radius: 3px;
    /* border: 1px solid black; */
}

.fav-list>li>.delete:hover{
    background-image: url(Images/removeOff.svg); 
    background-color: rgb(219, 143, 143);
    border-radius: 3px;
}

.fav-list>li>.delete:active{
    background-image: url(Images/removeOn.svg); 
}

.fav-list>li>.image{
    width:60px;
    height:50px;
    /* background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784.jpg);
    */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
    /* border: 1px solid black;  */
    border-radius: 2px;
}

.favlist>span{
    white-space:wrap;
    
}







/*--      -----      ----            Main            --     --(where characters are shoen)---     -- */





#main{
    /* background-color: var(--bg-1); */
    /* background-image: url(https://images.unsplash.com/photo-1523968063095-61264537fc21?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     */
     background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg);
    background-size:contain;
    background-attachment: fixed;
}

@keyframes wow {
    0%{
       transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}




.card{

    width: 12rem;
    height: 17rem !important;
    border: transparent !important;
    border-radius: 4px !important;
    overflow: hidden;
    background-size: auto 100%;
    background-position: top;
    background-repeat: no-repeat;
     background-color: #17052e !important; 
    box-shadow: 0px 0px 20px 2px rgb(7, 5, 23);
    animation: wow 1s ease-in-out ;
    cursor: pointer;
    transition:  1s 0.2s ;
    /* transition:  1s ;
    */
}



.card:hover{
    
    /* width: 17rem;
    height: 27rem !important; */
    /* background-size:100% auto ; */
   
    background-position: top;
    transform: scale(1.3);
    z-index: 1;
   
  
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    /* background-color: rgb(90, 88, 88); */
    background-image: linear-gradient( 45deg black transparent );
    color: rgb(252, 252, 252);
    position:absolute;
    bottom:0px; 
    right:0px;
}

.card-body>h5{
    text-shadow: 5px 5px 5px  #160142;
    font-weight: 400;
}

.card:hover>.card-body{
    background-image: linear-gradient(0deg,#240202,transparent);
}

.card:hover>.card-body>h5,a{
   
  font-size: 15px;;
}

.card-body>.btn {
    display:none;
}

.card:hover>.card-body>.btn{
    display:block; 
    font-size: 10px;
}


.card > img {
    height:100%;
}








/* ----------- Responsive-------- */






/* Medium size mobiles */


@media (max-width: 590px) {


    html{
        font-size: 79%;
    }

    #nav{
        
            width: 100%;
            min-height: 20vh;
            max-height: 180px;
    flex-direction:column;
    flex-wrap: nowrap;
    }

    #nav-bottom{
        width:100%;
        align-items: center;
    }

    #app-name{
        max-width: 60vw;
        max-height: 20vh;
        display: block;
        flex-grow: 0;
    }

     #app-name>img{
        width: 40vw;
        height: auto;
        flex-grow: 0;
    }
    


    .card{
        width: 40vw;
       
    
    }

    .card:hover{
    
        /* width: 17rem;
        height: 27rem !important; */
        background-size:cover ;
        transform: scale(1.1);
        z-index: 1;
      
    }

    .card-body>.btn {
        display:block;
    }

   

    .fav-list{
  
        width:70vw;
    }




  }




/* Narrow mobiles (width very small) */


  @media (max-width:365px){

    html{
       font-size: 70%;
    }


    #search-bar{
        width:50vw;
        height:30px;
        padding: 0;
        margin-bottom: 10px;
    }
    .input-group{
        width:50vw;
        height:30px;
    }

    .input-group>input{
        height:100%;
        
    }

    #favourite-list>div>button{

        height:30px !important;
        padding: 1px 5px !important;
        translate: 0px -5px;
    }

   
 
  }
