:root{

    /* --bordercolor1:rgb(241, 177, 177);
    --bordercolor2:rgb(209, 203, 203);
    --bordercolor3:rgb(224, 178, 245);
    --bordercolor4:rgb(165, 221, 165);
    --bordercolor5:rgb(255, 255, 186);
    --bordercolor6:rgb(255, 166, 166);  */



    --bg-searchtheme1:#fce8fc;
    --bg-searchtheme2:#893eeb;
    --bg-searchtheme3:#fcbf19;
    --bg-fav-sticker:red;
    --bg-backbutton:orange;
    --bg-accordian:rgb(206, 57, 57);
    --bg-accordian-list:rgb(30, 66, 142);


    --text-accordian-head: rgb(248, 235, 235);
    --text-accordian-list: rgb(249, 241, 241);
   
     

    --bg-1:#d676fb;
    --bg-2:#787c42;
    --bg-3:#ffafea;
    --bg-4:#eafffd;


}

body{
    background-image: linear-gradient(45deg, blue,black) !important;
    min-height:100%;
    padding:0;
    
}


.nav{

    width:100vw;
    height:12vh;
    background-image: radial-gradient( blue,black) !important;
    border:1px solid var(--bordercolor3);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    
}
/* //badge */

.hero-name{

    color:white ;
    background-color: transparent!important;
}


.main{

    width:100vw;
    min-height:88vh;
    padding:15px;

    display:flex;
  
    justify-content: space-around;

    align-items:flex-start;

    border:1px solid var(--bordercolor3);
    /* background-image: linear-gradient(45deg, blue,black); */
}

.part1{

    width:40vw;
    min-height:200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    align-items:center;
    padding:15px;
    border:1px solid var(--bordercolor4);
}

.image {
    width: auto;
    height: 30vh;
    min-height: 30vw;
    /* background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center;
    border: 1px solid var(--bordercolor6); */
    border-radius: 14px;
    box-shadow: 0px 0px 53px 12px rgb(16, 15, 15);
}
.button{
    border:1px solid var(--bordercolor6);
}

.part2{
    padding-top: 80px;
    width:40%;
    height:auto;
    min-height: 200px;
    border:1px solid var(--bordercolor4);
}

.accordion-header>button {
    background-color:var(--bg-accordian);
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-style: normal;
    color: var(--text-accordian-head);
}
.accordion-body{
    background-color: var(--bg-accordian-list); 
    box-shadow: 0px 0px 12px 1px inset;
    color:white;

}

.accordion-body>ul>li{
    background-color: var(--bg-accordian-list); 
    color: var(--text-accordian-list);
    box-shadow: 0px 0px 2px 2px inset;
}

#accordionExample{
    
    box-shadow: 0px 0px 23px 1px rgb(219, 201, 201);
    border-radius: 15px;

}

/*changing scss*/
.accordion-button:not(.collapsed) {
    color:var(--text-accordian-head)!important;
    background-color:var(--bg-accordian) !important;
    box-shadow: !important;
}
.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}



@media (max-width: 992px) {

.main{
    flex-direction: column;
    justify-content: space-evenly;

    align-items:center;
}

.part1,.part2{
    margin-top: 15px;
    width:80vw;
}

.part2{
    padding-top: 10px;
}

.image{
    width:auto;
    max-width: 100%;
    max-height:70vw;
}
    
}